.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
  }
  
  .signup-form h1 {
    color: rgb(245, 239, 239);
    margin-bottom: 20px;
    font-size: larger;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input-container .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  .signup-btn {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup-btn:hover {
    background: #4a3535;
  }
  
  .signup-form p {
    margin-top: 10px;
  }
  
  .signup-form a {
    color: rgb(7, 7, 145);
    text-decoration: none;
  }
  .signup-form a:hover{
    color: white;
  }
  

  .divider-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px 0;
  }
  
  .divider {
    flex: 1;
    border: 1px solid #ccc;
  }
  
  .divider-text {
    margin: 0 10px;
    color: #777;
  }
  
  .google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 300px; 
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: rgb(78, 78, 78);
    font-size: 16px; 
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; 
  }
  
  .google-btn:hover {
    background-color: #ffffff;
   }
  
  .google-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 40px; /* Adjusted size */
    margin-right: 10px;
  }
  
  .google-icon {
    width: 35px;
    height: 35px; /* Increased icon size for visibility */
  }